<div class="container">
    <h2>
        {{$ctrl.name}}
        <button type="button" class="btn btn-danger" ng-click="$ctrl.deleteDevice()"><span class="glyphicon glyphicon-remove"></span> Delete</button>
    </h2>

    <button type="button" class="btn btn-default" ng-click="$ctrl.addReading()">Add Reading</button>

    <div ng-if="$ctrl.temperature.values">
        <p>Temperature</p>

        <canvas id="line" class="chart chart-line"
            chart-labels="$ctrl.temperature.labels"
            chart-data="$ctrl.temperature.values">
        </canvas>
    </div>

    <div ng-if="$ctrl.humidity.values">
        <p>Humidity</p>

        <canvas id="line" class="chart chart-line"
            chart-labels="$ctrl.humidity.labels"
            chart-data="$ctrl.humidity.values">
        </canvas>
    </div>

    <div ng-if="$ctrl.airquality.values">
        <p>Air Quality</p>

        <canvas id="line" class="chart chart-line"
            chart-labels="$ctrl.airquality.labels"
            chart-data="$ctrl.airquality.values">
        </canvas>
    </div>
</div>
